NODE_ENV=development
PORT=5000
API_PREFIX=api/v1
FRONTEND_URL=

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

DB_SYNC=
DB_LOGGING=

JWT_SECRET=
JWT_EXPIRES_IN=3d
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=30d

R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET=
R2_PUBLIC_URL=
R2_TOKEN_VALUE=

AUTH_MAX_LOGIN_ATTEMPTS=10
AUTH_LOCK_DURATION_MINUTES=10
AUTH_PASSWORD_RESET_EXPIRY_HOURS=10
AUTH_EMAIL_VERIFY_EXPIRY_HOURS=10

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

UPLOAD_DEST=./uploads
UPLOAD_MAX_SIZE_MB=10

SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=